<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="<%- config.root %>style.css" type="text/css">
    <link rel="stylesheet" href="/css/metro.css" />
    <link
    rel="stylesheet"
    href="/css/metro-icons.min.css"
    />
    <script src="/js/jquery.js"></script>
    <script src="/js/metro.js"></script>


    <title> <%- config.title %> </title>
</head>

<%- body %>

</html>
