<!DOCTYPE html>
<html lang="<%- config.language  %>">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="<%- config.metro2013.favicon %>">

    <link rel="stylesheet" href="/css/metro.css" />
    <link rel="stylesheet" href="/css/hljs-default.css">
    <link rel="stylesheet" href="/css/style.css" />

    <title> <%- config.title %> </title>
</head>

<%- body %>

</html>
