<body class="container bg-winblue fg-white user-select-none scroll-x" >
    <%- include("_partial/header.ejs") %>
    <%- include("_widget/metro-groups-menu.ejs", {groups:  site.tags.filter(group => group.name===page.tag) }) %>
</body>