<header class="app-bar">
    <a class="app-bar-element" href="/"> <%- config.title %> </a>

    <span class="app-bar-divider"></span>

    <nav><ul class="app-bar-menu">
      <% for(const nav of config.metro2013.nav) { %>
        <li><a href="<%- nav.url %>"><%- nav.name %></a></li>
      <% } %>
    </ul></nav>

    <% // 公告或副标题 %>
    <ul class="app-bar-menu place-right">
    <% config.metro2013.notice.forEach(({content}) => {%>
      <li><%- content %></li>
    <% }) %>
    </ul>

</header>